body{
    background-color: whitesmoke;
/*    margin-left: 30px;*/
/*    margin-right: 30px;*/
    
}

/*---------------------------bar 基本設定----------------------*/
#list{
    background-color: #264653;
    margin: 0px;
    padding: 10px;
}

#list li{
    display: inline;
    padding: 10px;
    padding-left: 20px;
    color: lightgray;
    text-transform: none;
}

/*------------------------bar title link 設定------------------*/
#list #barTitle {
    color: lightgray;
    font-size: 40px;
}

/*---------------------------bar link 設定---------------------*/
#list .barFont{
    color: lightgray;
    float:right;
    font-size: 25px;
}

#list .barFont a:link{
    color: lightgray;
    text-decoration: none;
}

#list .barFont a:visited{
    color: lightgray;
    text-decoration: none;
}

#list .barFont a:hover{
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-size: 30px;
}

/*---------------------------下拉式選單----------------------------*/
#underBar{
    display:none;
    float : right;
    width: 20%;
    background: rgba(38,70,83,0.9);
    position: relative;
}

#underBarTitle{
    font-size: 20px;
    color: lightgray;
    text-align: center;
}

#underBarTitle a:link{
    color: lightgray;
    text-decoration: none;
}

#underBarTitle a:visited{
    color: lightgray;
    text-decoration: none;
}

#underBarTitle a:hover{
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-size: 25px;
}

#underBarContent{
    font-size: 15px;
    color: lightgray;
    text-align: center;
}

#underBarContent a:link{
    color: lightgray;
    text-decoration: none;
}

#underBarContent a:visited{
    color: lightgray;
    text-decoration: none;
}

#underBarContent a:hover{
    color: lightgoldenrodyellow;
    text-decoration: none;
    font-size: 20px;
}


/*----------------------------輪播----------------------------*/
#titleImg{
    width: 50%;
    position: relative;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 50px;
    margin-bottom: 60px;
    box-shadow: 8px 8px 3px lightgray;
}

#titleImg #heightImg{
    width: 100%;
    height: auto;
}

#titleImg ul{
    width: 400%;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

#titleImg img{
    width: 100%;
    margin: 0;
    padding: 0;
}

#titleImg ul li{
    float: left;
    width: 25%;
}

#titleImg .showNav{
    position: absolute;
    right: 10px;
    bottom: 5px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
}

#titleImg .showNav span{
    cursor: pointer;
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-color: ivory;
    margin-left: 2px;
    color: lightcoral;
}

#titleImg .showNav .active{
    background: lightseagreen;
}

/*--------------------------home 文章-----------------------------*/
.news{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 50px;
    
    box-shadow: 8px 8px 3px lightgray;
}
.news img{
    width: 230px;
    height: 150px;
    float: left;
}
.news .text{
    text-align: left;
    font-size: 23.5px;
}


.news a:link{
    text-decoration: none;
    text-align: left;
    color: black;
}
.news a:visited{
    text-decoration: none;
    color: black;
}

.newsBefore{
    background: whitesmoke;
    
}
.newsBefore .text{
    color:black;
}

.newsAfter{
    background: #264653;
}
.newsAfter .text{
    color: lightgray;
}

/*-------------------------內容標題------------------------------*/
#sortTitle{
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-bottom: 50px;
    border-bottom: 5px solid #264653;
    position: relative;
}

#sortTitle h2{
    color: #264653;
    font-size: 40px;
}

#sortHr{
    width:1070px;
    margin-left: 100px;
}

/*-----------------------------------分頁標題----------------------------------*/
.sortingDiv{
    margin-top: 70px;
}

/*------------------------------------home google map-------------------------------*/
#GoogleMap{
    height: 600px;
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 3px lightgray;
    margin-bottom: 50px;
}

#GoogleMap iframe{
    width: 100%;
    height: 100%;
}

/*------------------------------------footer-----------------------------------------*/
footer{
    width: 100%;
    height: 100px;
    background-color: #264653;
    padding: 10px;
}

footer p{
    font-size: 20px;
    color: lightgray;
    text-align: center;
}

/*----------------------------------sorting頁面-------------------------------------*/
#sorting{
    width: 80%;
    padding: 60px;
    margin: 0 auto;
}

/*-----------------------------------menu img div-------------------------------------*/
#sort{
    width: 60%;
    margin-left: 20%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
}

.sortImg{
    position: relative;
    opacity: 100%;
    margin: 30px;
    padding: 0px;
    width: 250px;
    height: 250px;
    border-radius: 100px;
    display: inline;
    float: inherit;
}

.sortImg_Text{
    position: absolute;
    top: -246px;
    left: 3.6%;
    text-align: center;
    opacity:0;
    color: white;
    font-weight: bold;
    display: inline;
    float: inherit;
}

#sorting a:link{
    text-decoration: none;
}
#sorting a:visited{
    color: rgba(0,80,90);
    text-decoration: none;
}
#sorting div:hover{
    transition: all 0.3s;
    background-color: rgba(38,75,83,0.4);
    overflow: hidden;
    text-decoration: none;
    display: inline;
}

.sortImg:hover .sortImg_Text{
    background-color: rgba(50,60,70,60%) ;
    opacity: 20%;
    width: 250px;
    height: 250px;
    font-size: 35px;
    line-height: 250px;
    text-align: center;
    border-radius: 100px;
    opacity:100%;
}

.sortImg:hover .Img{
    color: aliceblue;
}

.sortImg:visited{
    color: rgba(38,70,83,0.2);
    text-decoration: none;
}


/*------------------------------------menu img--------------------------------------*/
#sort img{
    padding: 0px;
    opacity: 100%;
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 100px;
}

/*---------------------------------shop content-----------------------------------*/
#contentL{
    width: 35%;
    float: left;
    /*border: 1px solid black;*/
    margin-left: 14%;
    position: relative;
}

#contentR{
    width: 35%;
    float: right;
    /*border: 1px solid black;*/
    margin-right: 14%;
    position: relative;
}


#content{
    border: 1px solid black;
    width: 100%;
    position: relative;
    margin-bottom: 90px;
    background: #264653;
    box-shadow: 8px 8px 3px lightgray;
}

#content img{
    width: 100%;
    height: 400px;
}

#text2{
    position: relative;
    width: 97%;
    height: auto;
    text-align: center;
    background-color: rgba(38,70,83,0.7);
    color: aliceblue;
    margin: 0 auto;
    padding: 5px;
}


#sorting div{
    margin: 20px;
    line-height: 3;
    width: 150px;
    height: 350px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    writing-mode: vertical-lr;
    color: rgba(38,70,55,1);
    background-color: rgba(38,70,83,0.2);
    display: inline;
    float: inherit;
    
}

#sortOption{
    font-size: 24px;
    letter-spacing: 1px;
    margin: 10px;
    margin-right: 80px;
    text-align: right;
    
}

#sorting{
    position: relative;
    width: 40%;
    margin-left: 30%;
}

#text3{
    position: relative;
    margin-left: 250px;
    color: black;
    font-size: 20px;
}

#shopData{
    border: 1px solid black;
    width: 40%;
    height: 100px;
    position: relative;
    margin-top: 50px;
}


/*輪盤


#myCanvas{
    position:absolute;
    display: inline;
    top: 25%;
    left: 20%
}

#circleText{
    position: absolute;
    top:30%;
    left: 70%;
    font-size: 18px;
    width: auto;
    display: inline;
}
#circleOption{
    
}
#quantity{
    width: 50px;
}
#submit {
    padding: 2px 5px;
    border: 1px solid grey;
    border-radius: 8px;
    width:25px ;
    cursor: pointer;
}
#submit:hover {
    background-color:rgba(0,0,0,0.15)
}
#ansText{
    display: inline;
    position: absolute;
    top: 65%;
    left: 65%;
    font-size: 30px;
    font-weight: bold;
}

其他

img{
    padding: 15px;
}
hr{
    margin: 10px;
}
h2{
    margin-left: 20px; 
}